html,
body {
	width: 100%;
	height: 100%;
	min-height: 960px;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	background-color: rgb(236, 237, 240);
	font-family: 华文楷体;
}

.wrap-container {
	width: 100%;
	height: 100%;
}

.left-tab {
	width: 260px;
	height: 100%;
	background-color: #333;
}

.logo {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

.logo img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.logo p {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	color: white;
	font-size: 24px;
}

.first-tab {
	margin: 0 10px;
	color: #aeb2b7;
	font-size: 22px;
	margin-top: 10px;
	padding: 10px;
	transition: background-color 0.5s;
}

.first-tab img {
	position: relative;
	top: -3px;
	margin: 0 10px;
}

.first-tab .arrow {
	position: relative;
	left: 20px;
}

.first-tab:hover {
	color: white;
	background-color: rgb(104, 223, 240);
}

.second-tab {
	margin-left: 70px;
	font-size: 20px;
}

.second-tab div {
	padding-top: 15px;
	color: #aeb2b7;
	transition: color 0.5s;
}

.second-tab div:hover {
	color: white;
}


