<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmst.IDao.IndustryDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.zmst.Domain.IndustryDictionary">
    <id column="InId" jdbcType="INTEGER" property="inid" />
    <result column="InCode" jdbcType="VARCHAR" property="incode" />
    <result column="InName" jdbcType="VARCHAR" property="inname" />
  </resultMap>
  <sql id="Base_Column_List">
    InId, InCode, InName
  </sql>
  <select id="findAll"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_industrydictionary
     
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_industrydictionary
    where InId = #{inid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zmst.Domain.IndustryDictionary">
    insert into tbl_industrydictionary (InId, InCode, InName
      )
    values (#{inid,jdbcType=INTEGER}, #{incode,jdbcType=VARCHAR}, #{inname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zmst.Domain.IndustryDictionary">
    insert into tbl_industrydictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inid != null">
        InId,
      </if>
      <if test="incode != null">
        InCode,
      </if>
      <if test="inname != null">
        InName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inid != null">
        #{inid,jdbcType=INTEGER},
      </if>
      <if test="incode != null">
        #{incode,jdbcType=VARCHAR},
      </if>
      <if test="inname != null">
        #{inname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmst.Domain.IndustryDictionary">
    update tbl_industrydictionary
    <set>
      <if test="incode != null">
        InCode = #{incode,jdbcType=VARCHAR},
      </if>
      <if test="inname != null">
        InName = #{inname,jdbcType=VARCHAR},
      </if>
    </set>
    where InId = #{inid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmst.Domain.IndustryDictionary">
    update tbl_industrydictionary
    set InCode = #{incode,jdbcType=VARCHAR},
      InName = #{inname,jdbcType=VARCHAR}
    where InId = #{inid,jdbcType=INTEGER}
  </update>
</mapper>