<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmst.IDao.LargeTaxMapper">
  <resultMap id="BaseResultMap" type="com.zmst.Domain.LargeTax">
    <id column="LTId" jdbcType="INTEGER" property="ltid" />
    <result column="Year" jdbcType="VARCHAR" property="year" />
    <result column="Place" jdbcType="VARCHAR" property="place" />
    <result column="LaCode" jdbcType="VARCHAR" property="lacode" />
    <result column="LaName" jdbcType="VARCHAR" property="laname" />
    <result column="LaTax" jdbcType="DOUBLE" property="latax" />
  </resultMap>
  <sql id="Base_Column_List">
    LTId, Year, Place, LaCode, LaName, LaTax
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_largetax
    where LTId = #{ltid,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByYearPlace">
    delete from tbl_largetax
    where year = #{0} and place=#{1}
    </delete> 
  
    <insert id="save" parameterType="com.zmst.Domain.LargeTax">
    insert into tbl_largetax (LTId, Year, Place, 
      LaCode, LaName, LaTax
      )
    values (#{ltid,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, 
      #{lacode,jdbcType=VARCHAR}, #{laname,jdbcType=VARCHAR}, #{latax,jdbcType=DOUBLE}
      )
  </insert>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_largetax
    where LTId = #{ltid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zmst.Domain.LargeTax">
    insert into tbl_largetax (LTId, Year, Place, 
      LaCode, LaName, LaTax
      )
    values (#{ltid,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, 
      #{lacode,jdbcType=VARCHAR}, #{laname,jdbcType=VARCHAR}, #{latax,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zmst.Domain.LargeTax">
    insert into tbl_largetax
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ltid != null">
        LTId,
      </if>
      <if test="year != null">
        Year,
      </if>
      <if test="place != null">
        Place,
      </if>
      <if test="lacode != null">
        LaCode,
      </if>
      <if test="laname != null">
        LaName,
      </if>
      <if test="latax != null">
        LaTax,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ltid != null">
        #{ltid,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="lacode != null">
        #{lacode,jdbcType=VARCHAR},
      </if>
      <if test="laname != null">
        #{laname,jdbcType=VARCHAR},
      </if>
      <if test="latax != null">
        #{latax,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmst.Domain.LargeTax">
    update tbl_largetax
    <set>
      <if test="year != null">
        Year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        Place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="lacode != null">
        LaCode = #{lacode,jdbcType=VARCHAR},
      </if>
      <if test="laname != null">
        LaName = #{laname,jdbcType=VARCHAR},
      </if>
      <if test="latax != null">
        LaTax = #{latax,jdbcType=DOUBLE},
      </if>
    </set>
    where LTId = #{ltid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmst.Domain.LargeTax">
    update tbl_largetax
    set Year = #{year,jdbcType=VARCHAR},
      Place = #{place,jdbcType=VARCHAR},
      LaCode = #{lacode,jdbcType=VARCHAR},
      LaName = #{laname,jdbcType=VARCHAR},
      LaTax = #{latax,jdbcType=DOUBLE}
    where LTId = #{ltid,jdbcType=INTEGER}
  </update>
</mapper>