<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmst.IDao.SubTaxMapper">
  <resultMap id="BaseResultMap" type="com.zmst.Domain.SubTax">
    <id column="GTId" jdbcType="INTEGER" property="gtid" />
    <result column="Year" jdbcType="VARCHAR" property="year" />
    <result column="Place" jdbcType="VARCHAR" property="place" />
    <result column="LaCode" jdbcType="VARCHAR" property="lacode" />
    <result column="SmCode" jdbcType="VARCHAR" property="smcode" />
    <result column="SmName" jdbcType="VARCHAR" property="smname" />
    <result column="SmTax" jdbcType="DOUBLE" property="smtax" />
  </resultMap>
  <sql id="Base_Column_List">
    GTId, Year, Place, LaCode, SmCode, SmName, SmTax
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_subtax
    where GTId = #{gtid,jdbcType=INTEGER}
  </select>
  
  
   <select id="findSubTaxByYearPlace"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_subtax
    where  year=#{0} and place=#{1}
  </select>
  
   <delete id="deleteByYearPlace">
    delete from tbl_subtax
    where year = #{0} and place=#{1}
    </delete> 
  
  
   <insert id="save" parameterType="com.zmst.Domain.SubTax">
    insert into tbl_subtax (GTId, Year, Place, 
      LaCode, SmCode, SmName, 
      SmTax)
    values (#{gtid,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, 
      #{lacode,jdbcType=VARCHAR}, #{smcode,jdbcType=VARCHAR}, #{smname,jdbcType=VARCHAR}, 
      #{smtax,jdbcType=DOUBLE})
  </insert>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_subtax
    where GTId = #{gtid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zmst.Domain.SubTax">
    insert into tbl_subtax (GTId, Year, Place, 
      LaCode, SmCode, SmName, 
      SmTax)
    values (#{gtid,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, 
      #{lacode,jdbcType=VARCHAR}, #{smcode,jdbcType=VARCHAR}, #{smname,jdbcType=VARCHAR}, 
      #{smtax,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.zmst.Domain.SubTax">
    insert into tbl_subtax
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gtid != null">
        GTId,
      </if>
      <if test="year != null">
        Year,
      </if>
      <if test="place != null">
        Place,
      </if>
      <if test="lacode != null">
        LaCode,
      </if>
      <if test="smcode != null">
        SmCode,
      </if>
      <if test="smname != null">
        SmName,
      </if>
      <if test="smtax != null">
        SmTax,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gtid != null">
        #{gtid,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="lacode != null">
        #{lacode,jdbcType=VARCHAR},
      </if>
      <if test="smcode != null">
        #{smcode,jdbcType=VARCHAR},
      </if>
      <if test="smname != null">
        #{smname,jdbcType=VARCHAR},
      </if>
      <if test="smtax != null">
        #{smtax,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmst.Domain.SubTax">
    update tbl_subtax
    <set>
      <if test="year != null">
        Year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        Place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="lacode != null">
        LaCode = #{lacode,jdbcType=VARCHAR},
      </if>
      <if test="smcode != null">
        SmCode = #{smcode,jdbcType=VARCHAR},
      </if>
      <if test="smname != null">
        SmName = #{smname,jdbcType=VARCHAR},
      </if>
      <if test="smtax != null">
        SmTax = #{smtax,jdbcType=DOUBLE},
      </if>
    </set>
    where GTId = #{gtid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmst.Domain.SubTax">
    update tbl_subtax
    set Year = #{year,jdbcType=VARCHAR},
      Place = #{place,jdbcType=VARCHAR},
      LaCode = #{lacode,jdbcType=VARCHAR},
      SmCode = #{smcode,jdbcType=VARCHAR},
      SmName = #{smname,jdbcType=VARCHAR},
      SmTax = #{smtax,jdbcType=DOUBLE}
    where GTId = #{gtid,jdbcType=INTEGER}
  </update>
</mapper>