<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmst.IDao.TravelIndustryGdpContributeMapper">
  <resultMap id="BaseResultMap" type="com.zmst.Domain.TravelIndustryGdpContribute">
    <id column="INId" jdbcType="INTEGER" property="inid" />
    <result column="Year" jdbcType="VARCHAR" property="year" />
    <result column="Place" jdbcType="VARCHAR" property="place" />
    <result column="InCode" jdbcType="VARCHAR" property="incode" />
    <result column="InName" jdbcType="VARCHAR" property="inname" />
    <result column="Gdp" jdbcType="DOUBLE" property="gdp" />
    <result column="TrGdp" jdbcType="DOUBLE" property="trgdp" />
    <result column="Rate" jdbcType="DOUBLE" property="rate" />
  </resultMap>
  <sql id="Base_Column_List">
    INId, Year, Place, InCode, InName, Gdp, TrGdp, Rate
  </sql>
  <sql id="List_First">
     InCode, InName, Gdp, TrGdp, Rate
  </sql>
  
   <select id="find"  resultMap="BaseResultMap">
    select 
    <include refid="List_First" />
    from tbl_travelindustrygdpcontribute
    where  year = #{0} and place = #{1}
  </select>
  
  <select id="findByYearPlace"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_travelindustrygdpcontribute
    where  year = #{0} and place = #{1}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_travelindustrygdpcontribute
    where INId = #{inid,jdbcType=INTEGER}
  </delete>
  
   
   <delete id="deleteByYearPlace" >
    delete from tbl_travelindustrygdpcontribute
    where year=#{0} and place=#{1}
  </delete>
  
  <insert id="save" parameterType="com.zmst.Domain.TravelIndustryGdpContribute">
    insert into tbl_travelindustrygdpcontribute (INId, Year, Place, 
      InCode, InName, Gdp, 
      TrGdp, Rate)
    values (#{inid,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, 
      #{incode,jdbcType=VARCHAR}, #{inname,jdbcType=VARCHAR}, #{gdp,jdbcType=DOUBLE}, 
      #{trgdp,jdbcType=DOUBLE}, #{rate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.zmst.Domain.TravelIndustryGdpContribute">
    insert into tbl_travelindustrygdpcontribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inid != null">
        INId,
      </if>
      <if test="year != null">
        Year,
      </if>
      <if test="place != null">
        Place,
      </if>
      <if test="incode != null">
        InCode,
      </if>
      <if test="inname != null">
        InName,
      </if>
      <if test="gdp != null">
        Gdp,
      </if>
      <if test="trgdp != null">
        TrGdp,
      </if>
      <if test="rate != null">
        Rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inid != null">
        #{inid,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="incode != null">
        #{incode,jdbcType=VARCHAR},
      </if>
      <if test="inname != null">
        #{inname,jdbcType=VARCHAR},
      </if>
      <if test="gdp != null">
        #{gdp,jdbcType=DOUBLE},
      </if>
      <if test="trgdp != null">
        #{trgdp,jdbcType=DOUBLE},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmst.Domain.TravelIndustryGdpContribute">
    update tbl_travelindustrygdpcontribute
    <set>
      <if test="year != null">
        Year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        Place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="incode != null">
        InCode = #{incode,jdbcType=VARCHAR},
      </if>
      <if test="inname != null">
        InName = #{inname,jdbcType=VARCHAR},
      </if>
      <if test="gdp != null">
        Gdp = #{gdp,jdbcType=DOUBLE},
      </if>
      <if test="trgdp != null">
        TrGdp = #{trgdp,jdbcType=DOUBLE},
      </if>
      <if test="rate != null">
        Rate = #{rate,jdbcType=DOUBLE},
      </if>
    </set>
    where INId = #{inid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmst.Domain.TravelIndustryGdpContribute">
    update tbl_travelindustrygdpcontribute
    set Year = #{year,jdbcType=VARCHAR},
      Place = #{place,jdbcType=VARCHAR},
      InCode = #{incode,jdbcType=VARCHAR},
      InName = #{inname,jdbcType=VARCHAR},
      Gdp = #{gdp,jdbcType=DOUBLE},
      TrGdp = #{trgdp,jdbcType=DOUBLE},
      Rate = #{rate,jdbcType=DOUBLE}
    where INId = #{inid,jdbcType=INTEGER}
  </update>
</mapper>