<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmst.IDao.TravelLargeTaxContributeMapper">
  <resultMap id="BaseResultMap" type="com.zmst.Domain.TravelLargeTaxContribute">
    <id column="TTCId" jdbcType="INTEGER" property="ttcid" />
    <result column="Year" jdbcType="VARCHAR" property="year" />
    <result column="Place" jdbcType="VARCHAR" property="place" />
    <result column="LaCode" jdbcType="VARCHAR" property="lacode" />
    <result column="LaName" jdbcType="VARCHAR" property="laname" />
    <result column="Tax" jdbcType="DOUBLE" property="tax" />
    <result column="TrTax" jdbcType="DOUBLE" property="trtax" />
    <result column="Rate" jdbcType="DOUBLE" property="rate" />
  </resultMap>
  <sql id="Base_Column_List">
    TTCId, Year, Place, LaCode, LaName, Tax, TrTax, Rate
  </sql>
  <select id="findByYearPlace"   resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_travellargetaxcontribute
    where  year=#{0} and place = #{1}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_travellargetaxcontribute
    where TTCId = #{ttcid,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByYearPlace" >
    delete from tbl_travellargetaxcontribute
    where year=#{0} and place=#{1}
  </delete>
  
  <insert id="save" parameterType="com.zmst.Domain.TravelLargeTaxContribute">
    insert into tbl_travellargetaxcontribute (TTCId, Year, Place, 
      LaCode, LaName, Tax, 
      TrTax, Rate)
    values (#{ttcid,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, 
      #{lacode,jdbcType=VARCHAR}, #{laname,jdbcType=VARCHAR}, #{tax,jdbcType=DOUBLE}, 
      #{trtax,jdbcType=DOUBLE}, #{rate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.zmst.Domain.TravelLargeTaxContribute">
    insert into tbl_travellargetaxcontribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ttcid != null">
        TTCId,
      </if>
      <if test="year != null">
        Year,
      </if>
      <if test="place != null">
        Place,
      </if>
      <if test="lacode != null">
        LaCode,
      </if>
      <if test="laname != null">
        LaName,
      </if>
      <if test="tax != null">
        Tax,
      </if>
      <if test="trtax != null">
        TrTax,
      </if>
      <if test="rate != null">
        Rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ttcid != null">
        #{ttcid,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="lacode != null">
        #{lacode,jdbcType=VARCHAR},
      </if>
      <if test="laname != null">
        #{laname,jdbcType=VARCHAR},
      </if>
      <if test="tax != null">
        #{tax,jdbcType=DOUBLE},
      </if>
      <if test="trtax != null">
        #{trtax,jdbcType=DOUBLE},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmst.Domain.TravelLargeTaxContribute">
    update tbl_travellargetaxcontribute
    <set>
      <if test="year != null">
        Year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        Place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="lacode != null">
        LaCode = #{lacode,jdbcType=VARCHAR},
      </if>
      <if test="laname != null">
        LaName = #{laname,jdbcType=VARCHAR},
      </if>
      <if test="tax != null">
        Tax = #{tax,jdbcType=DOUBLE},
      </if>
      <if test="trtax != null">
        TrTax = #{trtax,jdbcType=DOUBLE},
      </if>
      <if test="rate != null">
        Rate = #{rate,jdbcType=DOUBLE},
      </if>
    </set>
    where TTCId = #{ttcid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmst.Domain.TravelLargeTaxContribute">
    update tbl_travellargetaxcontribute
    set Year = #{year,jdbcType=VARCHAR},
      Place = #{place,jdbcType=VARCHAR},
      LaCode = #{lacode,jdbcType=VARCHAR},
      LaName = #{laname,jdbcType=VARCHAR},
      Tax = #{tax,jdbcType=DOUBLE},
      TrTax = #{trtax,jdbcType=DOUBLE},
      Rate = #{rate,jdbcType=DOUBLE}
    where TTCId = #{ttcid,jdbcType=INTEGER}
  </update>
</mapper>